<template>
    <div :class="classes">
        <div class="block__inner" @click.stop="handleClick">
            <div class="block__title">
                <slot name="title"></slot>
            </div>

            <div class="block__content">
                <slot></slot>
            </div>
        </div>

        <div class="block__btns">
            <slot name="btns" v-if="this.index == this.active"></slot>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Block',

    props: {
      active: Number,
      index: Number,
    },

    computed: {
      classes() {
        return {
          block: true,
          'block_before': this.index < this.active - 1,
          'block_previous': this.isPrevious,
          'block_after': this.index > this.active,
        };
      },

      isPrevious() {
        return this.index === this.active - 1;
      },
    },

    methods: {
      handleClick() {
        if (this.index === this.active) {
          return;
        }

        this.$emit('click');
      },
    }
  };
</script>

<style lang="scss">
    .block {
        color: var(--black);
        margin: 20px 0;
        position: relative;
        transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);

        &_before {
            opacity: 0;
            pointer-events: none;
        }

        &_after {
            opacity: 0;
            pointer-events: none;
        }

        &_previous {
            opacity: .5;

            .block__inner {
                transform: scale(.5) translate3d(-50%, 50%, 0);

            }

            .block__content {
                pointer-events: none
            }
        }

        &__inner {
            border-radius: 20px 20px 20px 0;
            box-shadow: 0 44px 94px 0 rgba(103, 0, 37, 0.2);
            background-color: var(--white);
            padding: 15px 20px 30px;
            transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
            overflow: hidden;

        }

        &__title {
            font-family: 'Uni Sans Heavy Caps';
            font-size: 18px;
            font-weight: 900;
            margin: 25px 0;
            align-items: center;
            display: flex;
        }

        &__content {
            font-family: 'Roboto';
            font-size: 16px;;
        }

        &__btns {

            :empty {
                padding: 0;
            }


            > * {
                display: flex;
                flex-flow: column;
                align-items: flex-end;

                .button {
                    margin-top: 20px;
                }
            }

        }
    }
</style>
