<template>
    <div @click.stop="$emit('click')" :class="classes">
        <slot/>

        <div v-if="value" class="button__check-mark"></div>
    </div>
</template>

<script>
  export default {
    props: {
      type: String,
      value: {
        type: Boolean,
        default: false,
      },
    },

    computed: {
      classes() {
        return {
          'button': true,
          'button_inactive': this.value && this.type !== 'primary',
          'button_primary': this.type == 'primary'
        };
      },
    }
  };
</script>

<style lang="scss">
    .button {
        border-radius: 20px 20px 0 20px;
        border: solid 1px var(--darkpink);
        background-color: var(--pale-pink);
        color: var(--darkpink);
        display: flex;
        align-items: center;
        padding: 20px;
        position: relative;
        transition: .3s;

        &_inactive {
            opacity: .5;
        }

        &_primary {
            border-color: #639185;
            background-color: #639185;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            font-family: 'Uni Sans Heavy Caps';
            box-shadow: 0 14px 24px 0 rgba(103, 0, 37, 0.2);
        }

        &__check-mark {
            background: url("../assets/verified.svg");
            height: 20px;
            width: 20px;
            left: -40px;
            position: absolute;
        }
    }
</style>
