<template>
    <div class="emoji-line" v-if="active">
        <div v-if="true && type == 'sad'">
            <div>
                <i class="em-svg em-cry"
                   :style="style()"
                   :key="i"
                   v-for="i in Array(100)"></i>
            </div>
        </div>
        <div v-if="true && type == 'tada'">
            <div>
                <i class="em-svg em-tada"
                   :style="style()"
                   :key="i"
                   v-for="i in Array(50)"></i>
                <i class="em-svg em---1"
                   :style="style()"
                   :key="i"
                   v-for="i in Array(50)"></i>
            </div>
        </div>
    </div>
</template>

<script>
  import { random } from 'lodash';

  export default {
    props: {
      active: Boolean,
      type: String,
    },

    methods: {
      style() {
        return { transform: `translate3d(${random(-50, 50)}px,${random(-100, 100)}vh,${random(-100, 100)}px)` };
      },
    },

    watch: {
      active(flag) {
        if(flag) setTimeout(() => this.$emit('finish'), 4000)
      },
    },
  };
</script>

<style lang="scss">
    .emoji-line {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        transform: scale(2) rotate3d(0, 2, 0, 20deg);
        pointer-events: none;

        > *:nth-child(1) {
            perspective: 30px;

            display: flex;
            animation: line 2s linear infinite;
        }

    }

    @keyframes line {
        0% {
            transform: translate3d(0, -100%, 0);
            opacity: 0;
        }
        50% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        100% {
            transform: translate3d(0, 100%, 0);
            opacity: 0;
        }
    }
</style>
