<template>
    <div class="popup" v-if="value">
        <div class="popup__inner">

            <div class="popup__close" @click="close" />

            <slot />

        </div>

    </div>
</template>

<script>
  export default {
    name: 'Popup',

    props: {
      value: Boolean,
    },

    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>

<style lang="scss">
    .popup {
        position: fixed;
        z-index: 80;
        top: 60px;
        height: calc(100vh - 60px);
        background: #fff;
        border-radius: 20px 20px 0 0;
        left: 0;
        width: 100vw;
        box-shadow: 0 -44px 94px 0 rgba(103, 0, 37, 0.2);

        &__inner {
            position: relative;
            height: 100%;
        }

        &__close {
            height: 44px;
            width: 44px;
            position: relative;
            margin-top: 15px;
            left: calc(50vw - 22px);
            border-radius: 100%;
            background-image: url("../assets/close-22.svg");
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0 0px 94px 0 rgba(103, 0, 37, 1);
        }
    }
</style>
