<template>
    <main class="app" ref="el">
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

        <div class="app__emoji-preload">
            <i class="em-svg em-wave"></i>
            <i class="em-svg em-smiley"></i>
            <i class="em-svg em-cry"></i>
            <i class="em-svg em-tada"></i>
            <i class="em-svg em---1"></i>
            <i class="em-svg em-balloon"></i>
        </div>

        <div class="app__wrapper">
            <div class="app__navigation">
                <div class="app__nav-item"
                     :class="{'app__nav-item_active': index ==activeBlockIndex}"
                     v-for="index in blockRange" :key="index" @click="activeBlockIndex = index" />

                <div class="app__avatar" />
            </div>

            <div class="app__footer">
                <i @click="handlePrintClick" class="app__footer-icon app__print" />
                <i @click="handlePhotoClick" class="app__footer-icon app__insta" />
            </div>

            <emoji-line :active="showEmoji" @finish="showEmoji = false" :type="emojiType" />

            <div class="app__feed" v-if="user && david" :style="{ width: `${feedWidth}px` }">
                <block :index="0" :active="activeBlockIndex" @click="goToPrevBlock">

                    <template slot="title">
                        Hey, David!&nbsp;&nbsp;<i class="em-svg em-wave"></i>
                    </template>

                    <p>So, we will hang out very soon due to the well-known occasion <i class="em-svg em-ring"></i></p>

                    <p>Click on the green buttons for more details</p>

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">
                            Ok, let's start
                        </button-el>
                    </span>
                </block>

                <block :index="1" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Essential question to ask</span>

                    <p>Nothing changed? Are you in?
                        <i class="em-svg em-face_with_raised_eyebrow"></i></p>

                    <span slot="btns">
                        <button-el type="primary" :value="participation === true"
                                   @click="updateParticipation(true)">
                            Naturally! &nbsp;&nbsp; <i class="em-svg em-tada"></i>
                        </button-el>
                        <button-el :value="participation === false"
                                   @click="updateParticipation(false)">
                            No, I can’t :(
                        </button-el>
                    </span>
                </block>

                <block :index="2" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">October 4 <i class="em-svg em-page_facing_up"></i></span>

                    <p>In general, the plan is as follows:</p>

                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">1</div>
                            <strong>15:00</strong>
                        </div>

                        <div>Registration at the marriage registry. Everyone is invited!</div>
                        <div class="app__address">Pervorechensky registry; Pechorskaya street, 8</div>

                        <div class="app__map">
                            <iframe src="https://yandex.ru/map-widget/v1/-/CGc2aTlX"
                                    :width="feedWidth" height="160"
                                    frameborder="1" allowfullscreen="true"></iframe>

                        </div>
                    </div>


                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">2</div>
                            <strong>15:30 - 17:30</strong>
                        </div>

                        <div>
                            Then, we ride around the most popular spots in the city. Hang locks here and there.
                            <i class="em-svg em-lock" />
                            <i class="em-svg em-heartpulse" />
                        </div>
                    </div>


                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">3</div>
                            <strong>18:00 - 23:59</strong>
                        </div>

                        <div style="display: flex; flex-flow: row wrap; align-items: center;">
                            <span>The main part</span>&nbsp;
                            <i class="em-svg em-spaghetti" />&nbsp;
                            <i class="em-svg em-stuffed_flatbread" />&nbsp;
                            <i class="em-svg em-woman-cartwheeling" />&nbsp;
                            <i class="em-svg em-champagne" />&nbsp;
                            <i class="em-svg em-wine_glass" />
                        </div>
                        <div class="app__address">Geokupol Edwin Group; Lazurnaya street, 23b</div>

                        <div class="app__map">
                            <iframe src="https://yandex.ru/map-widget/v1/-/CGc2YA14"
                                    :width="feedWidth" height="160"
                                    frameborder="1" allowfullscreen="true"></iframe>
                        </div>
                    </div>


                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">4</div>
                            <strong>00:00</strong>
                        </div>

                        <div>"Secret" after-party <i class="em-svg em-shushing_face"></i></div>
                    </div>

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Okay...</button-el>
                    </span>
                </block>

                <block :index="3" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Entertainment Plan</span>

                    <div class="app__video">
                        <img src="./assets/ezgif.com-video-to-gif.gif" :width="feedWidth" />
                    </div>

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">
                            Well, I did not expect something more…
                        </button-el>
                    </span>
                </block>

                <block :index="4" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        Transport issue
                    </span>

                    <p>
                        Are you going with us on wedding buses?
                        <i class="em-svg em-minibus" />&nbsp;
                        <i class="em-svg em-bus" />&nbsp;
                        <i class="em-svg em-oncoming_police_car" />
                    </p>

                    <span slot="btns">
                        <button-el type="primary" :value="ownCar === false" @click="updateOwnCar(false)">Yeah</button-el>
                        <button-el :value="ownCar === true" @click="updateOwnCar(true)">
                            No, I'll be on my car &nbsp;<i class="em-svg em-car" />
                        </button-el>
                    </span>
                </block>

                <block :index="5" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        Outfit <i class="em-svg em-dancer"></i> <i class="em-svg em-man_dancing"></i>
                    </span>

                    <p>Further complicated instructions are just for guidance.</p>


                    <strong>Info for girls</strong>

                    <div class="app__colors">
                        <div style="background-color: #440442" />
                        <div style="background-color: #aa8ca7" />
                        <div style="background-color: #fffbf2" />
                        <div style="background-color: #afafaf" />
                        <div style="background-color: #0f5150" />
                    </div>

                    <br />
                    <strong>Info for dudes</strong>

                    <div class="app__clothes">
                        <img src="./assets/Selection_153.png" :width="feedWidth" />
                    </div>

                    <div class="app__warning">
                        <div>
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />
                        </div>
                        <p>
                            Notice that you will need some items while being outside of the registry office or Geokupol
                            <i class="em-svg em-snow_capped_mountain" />&nbsp;
                            <i class="em-svg em-camping" />&nbsp;
                            <i class="em-svg em-bear" />&nbsp;
                            вам понадобится
                        </p>

                        <p><i class="em-svg em-athletic_shoe"></i> Comfortable shoes </p>
                        <p><i class="em-svg em-coat"></i> Warm clothes </p>

                        <div style="text-align: right;">
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />
                        </div>
                    </div>


                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">
                            Sweatpants One Love! &nbsp;<i class="em-svg em-heart_eyes" />
                        </button-el>
                    </span>
                </block>

                <block :index="6" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Menu Preferences <i class="em-svg em-bread"></i></span>

                    <p>We do not guarantee that every weird preference will be considered, but we will try</p>

                    <el-input type="textarea" v-model="food" :rows="5" />

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Got it!</button-el>
                    </span>
                </block>

                <block :index="7" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Booze <i class="em-svg em-tumbler_glass"></i> soft drinks Preferences <i
                            class="em-svg em-coffee"></i></span>

                    <p>But! We will almost certainly take this thing into account. Within the budget, of course. <i
                            class="em-svg em-upside_down_face"></i></p>

                    <el-input type="textarea" v-model="drinks" :rows="5" />

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Done!</button-el>
                    </span>
                </block>

                <block :index="8" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        <span>How to get home</span>&nbsp;
                        <i class="em-svg em-racing_car" />
                    </span>

                    <p>
                        From <strong>22:00</strong> to <strong>00:00</strong>  taxies will be departure to the city
                    </p>
                    <p>+ bus to after-party at <strong>00:00</strong></p>

                    <p>
                        You will really help us if you indicate the time you would probably be ready to go home.
                        <i class="em-svg em-muscle" />
                    </p>

                    <el-input type="textarea" v-model="wayHome" :rows="5" />

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">OK</button-el>
                    </span>
                </block>

                <block :index="9" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        See you then! <i class="em-svg em-raised_hands"></i>
                    </span>

                    <p>Keep in touch:</p>

                    <div style="margin-bottom: 20px">
                        <strong>+7 914 685-36-00</strong>
                        Sergey
                    </div>
                    <div>
                        <strong>+7 950 298-90-77</strong>
                        Alyona
                    </div>
                </block>
            </div>

            <div class="app__feed" v-if="user && !david" :style="{ width: `${feedWidth}px` }">
                <block :index="0" :active="activeBlockIndex" @click="goToPrevBlock">

                    <template slot="title">
                        {{ user.name }}, Привет!&nbsp;&nbsp;<i class="em-svg em-wave"></i>
                    </template>

                    <p>Совсем скоро мы круто затусим по известному поводу <i class="em-svg em-ring"></i></p>

                    <p>Нажимай на зеленые кнопки, чтобы узнать подробности</p>

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">
                            Ок, погнали
                        </button-el>
                    </span>
                </block>

                <block :index="1" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Вопрос, который необходимо задать</span>

                    <p>Ничего не изменилось? {{ isMultipleGuests ? 'Вы' : 'Ты' }} в теме?
                        <i class="em-svg em-face_with_raised_eyebrow"></i></p>

                    <span slot="btns">
                        <button-el type="primary" :value="participation === true"
                                   @click="updateParticipation(true)">
                            Ессесно! &nbsp;&nbsp; <i class="em-svg em-tada"></i>
                        </button-el>
                        <button-el :value="participation === false"
                                   @click="updateParticipation(false)">
                            {{ isMultipleGuests ? 'Мы не придем :(' : 'Я не приду :(' }}
                        </button-el>
                    </span>
                </block>

                <block :index="2" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">4 октября <i class="em-svg em-page_facing_up"></i></span>

                    <p>В общих чертах план такой:</p>

                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">1</div>
                            <strong>15:00</strong>
                        </div>

                        <div>Регистрация в ЗАГСе. Приглашены все желающие!</div>
                        <div class="app__address">Первореченский ЗАГС, Печорская 8</div>

                        <div class="app__map">
                            <iframe src="https://yandex.ru/map-widget/v1/-/CGc2aTlX"
                                    :width="feedWidth" height="160"
                                    frameborder="1" allowfullscreen="true"></iframe>

                        </div>
                    </div>


                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">2</div>
                            <strong>15:30 - 17:30</strong>
                        </div>

                        <div>
                            Катаемся по самым заезженным спотам в городе. Развешиваем замочки
                            <i class="em-svg em-lock" />
                            <i class="em-svg em-heartpulse" />
                        </div>
                    </div>


                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">3</div>
                            <strong>18:00 - 23:59</strong>
                        </div>

                        <div style="display: flex; flex-flow: row wrap; align-items: center;">
                            <span>Основная часть</span>&nbsp;
                            <i class="em-svg em-spaghetti" />&nbsp;
                            <i class="em-svg em-stuffed_flatbread" />&nbsp;
                            <i class="em-svg em-woman-cartwheeling" />&nbsp;
                            <i class="em-svg em-champagne" />&nbsp;
                            <i class="em-svg em-wine_glass" />
                        </div>
                        <div class="app__address">Геокупол Edwin Group, Лазурная 23б</div>

                        <div class="app__map">
                            <iframe src="https://yandex.ru/map-widget/v1/-/CGc2YA14"
                                    :width="feedWidth" height="160"
                                    frameborder="1" allowfullscreen="true"></iframe>
                        </div>
                    </div>


                    <div class="app__plan-item">
                        <div class="app__counter-container">
                            <div class="app__counter">4</div>
                            <strong>00:00</strong>
                        </div>

                        <div>"Secret" after-party <i class="em-svg em-shushing_face"></i></div>
                    </div>

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Ну ладно...</button-el>
                    </span>
                </block>

                <block :index="3" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">План развлекательной программы</span>

                    <div class="app__video">
                        <img src="./assets/ezgif.com-video-to-gif.gif" :width="feedWidth" />
                    </div>

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">
                            другого и не ожидалось
                        </button-el>
                    </span>
                </block>

                <block :index="4" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        Транспортный вопрос
                    </span>

                    <p>
                        {{ isMultipleGuests ? 'Едете' : 'Едешь' }} с нами на свадебных автобусиках?
                        <i class="em-svg em-minibus" />&nbsp;
                        <i class="em-svg em-bus" />&nbsp;
                        <i class="em-svg em-oncoming_police_car" />
                    </p>

                    <span slot="btns">
                        <button-el type="primary" :value="ownCar === false" @click="updateOwnCar(false)">Aга</button-el>
                        <button-el :value="ownCar === true" @click="updateOwnCar(true)">
                            Нет, {{ isMultipleGuests ? 'мы будем' : 'я буду' }} на своей тачке &nbsp;<i class="em-svg em-car" />
                        </button-el>
                    </span>
                </block>

                <block :index="5" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        Нарядность <i class="em-svg em-dancer"></i> <i class="em-svg em-man_dancing"></i>
                    </span>

                    <p>Сложнейшие инструкции ниже носят исключительно рекомендательный характер</p>


                    <strong>Инфа для телочек</strong>

                    <div class="app__colors">
                        <div style="background-color: #440442" />
                        <div style="background-color: #aa8ca7" />
                        <div style="background-color: #fffbf2" />
                        <div style="background-color: #afafaf" />
                        <div style="background-color: #0f5150" />
                    </div>

                    <br />
                    <strong>Инфа для чуваков</strong>

                    <div class="app__clothes">
                        <img src="./assets/Selection_153.png" :width="feedWidth" />
                    </div>

                    <div class="app__warning">
                        <div>
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />
                        </div>
                        <p>
                            В случае планируемого участия в развлекухе за пределами загса и геокупола
                            <i class="em-svg em-snow_capped_mountain" />&nbsp;
                            <i class="em-svg em-camping" />&nbsp;
                            <i class="em-svg em-bear" />&nbsp;
                            вам понадобится
                        </p>

                        <p><i class="em-svg em-athletic_shoe"></i> Удобная обувь </p>
                        <p><i class="em-svg em-coat"></i> Теплая одежда </p>

                        <div style="text-align: right;">
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />&nbsp;
                            <i class="em-svg em-warning" />
                        </div>
                    </div>


                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">
                            Тренички One Love! &nbsp;<i class="em-svg em-heart_eyes" />
                        </button-el>
                    </span>
                </block>

                <block :index="6" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Пожелания по меню <i class="em-svg em-bread"></i></span>

                    <p>Мы не гарантируем что все, даже самые придурочные идеи будут исполнены, но мы постараемся</p>

                    <el-input type="textarea" v-model="food" :rows="5" />

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Готово</button-el>
                    </span>
                </block>

                <block :index="7" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">Пожелания по бухлу <i class="em-svg em-tumbler_glass"></i> и безалкогольным напиткам <i
                            class="em-svg em-coffee"></i></span>

                    <p>А вот это мы почти точно учтем. В рамках бюджета, разумеется <i
                            class="em-svg em-upside_down_face"></i></p>

                    <el-input type="textarea" v-model="drinks" :rows="5" />

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Done!</button-el>
                    </span>
                </block>

                <block :index="8" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        <span>Как добраться домой</span>&nbsp;
                        <i class="em-svg em-racing_car" />
                    </span>

                    <p>
                        C <strong>22:00</strong> до <strong>00:00</strong> будет отправляться
                        необходимое количество такси в город
                    </p>
                    <p>+ автобус до after-party в <strong>00:00</strong></p>

                    <p v-if="isMultipleGuests">
                        Вы очень поможете если укажете до скольки планируете продержаться
                        <i class="em-svg em-muscle" />
                    </p>
                    <p v-else>
                        Ты очень поможешь если укажешь до скольки планируешь продержаться
                        <i class="em-svg em-muscle" />
                    </p>

                    <el-input type="textarea" v-model="wayHome" :rows="5" />

                    <span slot="btns">
                        <button-el type="primary" @click="goToNextBlock">Хорошо</button-el>
                    </span>
                </block>

                <block :index="9" :active="activeBlockIndex" @click="goToPrevBlock">
                    <span slot="title">
                        Увидимся <i class="em-svg em-raised_hands"></i>
                    </span>

                    <p>P.S. Если {{ isMultipleGuests ? 'вам' : 'тебе' }} все понравится и
                        {{ isMultipleGuests ? 'вы захотите' : 'ты захочешь' }} нас как-то отблагодарить...</p>

                    <div style="margin-bottom: 20px">
                        <strong>+7 914 685-36-00</strong>
                        Сергей Д.
                        <div style="margin-top: 5px">
                            <div class="app__sber" />
                            &nbsp;
                            <div class="app__tinkoff" />
                        </div>
                    </div>
                    <div>
                        <strong>+7 950 298-90-77</strong>
                        Алена Дмитриевна М.
                        <div style="margin-top: 5px">
                            <div class="app__sber" />
                            &nbsp;
                            <div class="app__tinkoff" />
                        </div>
                    </div>
                </block>
            </div>
        </div>

        <popup :value="infoPopup" @close="infoPopup = false">
            <div class="app__info-popup" v-if="david">
                <p><strong>October 4</strong></p>
                <p><strong>15:00</strong> Pervorechensky registry; Pechorskaya street, 8</p>
                <p><strong>15:30 - 17:30</strong> Ride around</p>
                <p><strong>18:00 - 23:59</strong> Geokupol Edwin Group; Lazurnaya street, 23b</p>
                <p><strong>00:00</strong> "Secret" after-party</p>
            </div>
            <div class="app__info-popup" v-else>
                <p><strong>4 октября</strong></p>
                <p><strong>15:00</strong> Первореченский ЗАГС, Печорская 8</p>
                <p><strong>15:30 - 17:30</strong> Покатушки</p>
                <p><strong>18:00 - 23:59</strong> Геокупол Edwin Group, Лазурная 23б</p>
                <p><strong>00:00</strong> "Secret" after-party</p>
            </div>
        </popup>

        <popup :value="photoPopup" @close="photoPopup = false">
            <div style="padding: 20px; opacity: .6" v-if="david">
                Photos will be there...
            </div>
            <div style="padding: 20px; opacity: .6" v-else>
                Здесь будут фотоньки...
            </div>
        </popup>
    </main>
</template>

<script>
  import gql from 'graphql-tag';
  import { range, debounce, isEmpty } from 'lodash';

  import Block from './components/Block.vue';
  import ButtonEl from './components/Button.vue';
  import EmojiLine from './components/EmojiLine.vue';
  import Popup from './components/Popup.vue';

  const prop = (name) => ({
    get() {
      return this.localUser[name];
    },
    set(value) {
      this.localUser = { ...this.localUser, [name]: value };
    }
  });

  export default {
    name: 'app',

    apollo: {
      user: gql`query {
          user(url: "${decodeURI(location.pathname.substr(1))}") {
            id
            name
            personCount
            ownCar
            wayHome
            participation
            food
            drinks
          }
        }`,
    },

    components: {
      Block,
      ButtonEl,
      EmojiLine,
      Popup,
    },

    data() {
      return {
        localUser: {}, activeBlockIndex: 0, blockCount: 10, showEmoji: false, emojiType: 'sad',
        infoPopup: false, photoPopup: false
      };
    },

    computed: {
      ownCar: prop('ownCar'),
      food: prop('food'),
      drinks: prop('drinks'),
      participation: prop('participation'),
      wayHome: prop('wayHome'),

      blockRange() {
        return range(this.blockCount);
      },

      isMultipleGuests() {
        return this.user && this.user.personCount > 1;
      },

      david() {
        return this.user && (this.user.name == 'Дэвид');
      },

      feedWidth() {
        return Math.min(window.innerWidth - 70, 660);
      }
    },

    methods: {
      patchUser: debounce(async function () {
        await this.$apollo.mutate({
          mutation: gql`mutation ($id: ID, $name: String, $personCount: Int, $url: String, $ownCar: Boolean,
          $food: String, $drinks: String, $wayHome: String, $participation: Boolean) {
              patchUser(id: $id, name: $name, personCount: $personCount, url: $url,  ownCar: $ownCar,  food: $food,  drinks: $drinks,  wayHome: $wayHome,  participation: $participation) {
                id
                name
                ownCar
                wayHome
                food
                drinks
                participation
              }
      }`,
          variables: this.localUser,
        });
      }, 500),

      goToNextBlock() {
        if (this.activeBlockIndex < this.blockCount - 1) {
          this.activeBlockIndex++;
        }
      },

      goToPrevBlock() {
        if (this.activeBlockIndex !== 0) {
          this.activeBlockIndex--;
        }
      },

      async scrollToActive() {
        await this.$nextTick();

        const y = window.scrollY + this.$refs.el.querySelectorAll('.block')[this.activeBlockIndex].getBoundingClientRect().top;
        window.scrollTo({
          top: y - 100,
          left: 0,
          behavior: 'smooth'
        });
      },

      showSadEmoji() {
        this.emojiType = 'sad';
        this.showEmoji = true;
      },

      showTadaEmoji() {
        this.emojiType = 'tada';
        this.showEmoji = true;
      },

      updateParticipation(value) {
        this.participation = value;

        if (value) {
          this.showTadaEmoji();
          this.goToNextBlock();
        } else {
          this.showSadEmoji();
        }
      },

      updateOwnCar(value) {
        this.ownCar = value;
        this.goToNextBlock();
      },

      handlePrintClick() {
        this.infoPopup = true;
      },

      handlePhotoClick() {
        this.photoPopup = true;
      },
    },

    watch: {
      user(user) {
        if (isEmpty(this.localUser)) {
          this.localUser = user;
        }
      },
      ownCar: 'patchUser',
      wayHome: 'patchUser',
      participation: 'patchUser',
      drinks: 'patchUser',
      food: 'patchUser',
      activeBlockIndex: 'scrollToActive',
    }
  };
</script>

<style lang="scss">
    *, *:before, *:after {
        box-sizing: border-box;
    }

    :root {
        --darkpink: #670025;
        --white: #ffffff;
        --overlay: rgba(58, 0, 21, 0.5);
        --grey: #638b81;
        --black: #000000;
        --pale-pink: #ffcdda;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Uni Sans Heavy Caps';
        src: url('./fonts/UniSansHeavyCaps.woff2') format('woff2'),
        url('./fonts/UniSansHeavyCaps.woff') format('woff');
        font-weight: 900;
        font-style: normal;
    }


    body {
        margin: 0;
        padding: 0;
        background-color: var(--pale-pink);
    }

    .app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        /*background-color: var(--pale-pink);*/
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;

        &__wrapper {
            margin: 20px 0;
        }

        &__navigation {
            position: fixed;
            left: 10px;
            height: calc(100vh - 100px);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }

        &__nav-item {
            border-radius: 100%;
            height: 8px;
            width: 8px;
            background-color: #660025;
            opacity: .2;
            margin-bottom: 10px;

            &_active {
                opacity: 1;
            }
        }


        &__feed {
            margin-left: 50px;
            padding-bottom: 100vh;
        }

        &__footer {
            position: fixed;
            bottom: 15px;
            left: 0;
            height: 40px;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            z-index: 50;
        }

        &__footer-icon {
            height: 28px;
            width: 28px;
            display: block;
        }

        &__print {
            background: url("./assets/print-28.svg");
        }

        &__insta {
            background: url("./assets/intagram-28.svg");
        }

        &__avatar {
            background-image: url("./assets/9aa381b3-71da-45ac-8613-6d58b83c1192.jpeg");
            background-size: 40px;
            background-size: cover;
            border: 2px solid #fff;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background-position: center;
            margin-top: 15px;
        }

        &__plan-item {
            margin-bottom: 20px;
        }

        &__counter-container {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            strong {
                font-family: 'Uni Sans Heavy Caps';
                font-size: 18px;
            }
        }

        &__counter {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid var(--pale-pink);
            border-radius: 100%;
            color: var(--darkpink);
            margin-right: 10px;
        }

        &__address {
            margin-bottom: 10px;
            opacity: .5;
        }

        &__map {
            margin: 0 -20px;

            iframe {
                border: 0;
            }
        }

        &__colors {
            margin: 5px -20px;
            display: flex;
            height: 100px;

            > * {
                flex: 0 0 20%;
            }
        }

        &__clothes {
            margin: 0 -20px;
            margin-top: 5px;
        }

        &__dress {
            background-image: url("./assets/Selection_153.png");
        }

        &__emoji-preload {
            opacity: 0;
            position: absolute;
            z-index: -1;
            pointer-events: none;

        }

        &__video {
            margin: 0 -20px -35px;
        }

        &__warning {
            margin: 0 -20px -35px;
            padding: 20px;
            background: #FDF6EC;
        }

        &__sber {
            background-image: url("./assets/sberbank-crypto-cryptocurrency-cryptocurrencies-cash-money-bank-payment_95564.svg");
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
            background-size: cover;
            display: inline-block;
        }

        &__tinkoff {
            background-image: url("./assets/tinkoff-bank-simple-logo-7.png");
            background-repeat: no-repeat;
            height: 30px;
            width: 100px;
            background-size: contain;
            display: inline-block;
        }

        &__info-popup {
            padding: 20px;

            strong {
                font-family: 'Uni Sans Heavy Caps';
                font-size: 18px;
                font-weight: 900;
            }
        }
    }
</style>
